<h1> Admin Applications Show Page </h1>

<%= button_to "Approve Application for #{@pet.id}", "/admin/applications/#{@application.id}?status=Approved", method: :patch, local: true %>


    <%# binding.pry %>
    <%# if @application.pets != nil && @application.status == "Approved" %>
<p><%= @approved_pet.name  %></p>
<%# end %>

