<h1> Admin Applications Show Page </h1>



<p><% @pet_applications.each do |pet_app| %></p>
<%= "#{pet_app.pet.name} Approved" %>
   <% if @pet_applications != [] && pet_app.status == "Pending" %>
<%= button_to "Approve Application for #{pet_app.pet.name}", "/admin/applications/#{@application.id}", params: {status: :Approved, pet_id: pet_app.pet.id},  method: :patch, local: true %>
<% end %>
<% end %>




